.header_nav_and_button {
    display:flex;
    align-items: center;
}

.header_buttons_for_menu{
    display: none;
}

.header_buttons{
    margin-top: -30px;
}

.header_menu {
    padding-bottom: 0.140625rem;
    cursor: pointer;
    display: none;
}

.header_menu > img {
    max-width: var(--font-size-sel);
}

.header_menu > img:hover {
    animation: rotating 3s infinite;
}

.header_nav ul {
    font-size: var(--font-size-head);
    display: flex;
}

.header_nav_li_home{
    margin-right: 35px;
    font-weight: 500;
    color: #202336;
}

.header_nav_li {
    margin-right: 34px;  
}

.header_buttons_for_menu button{
    width: var(--size-button-w);
    height: var(--size-button-h);
    border-radius: 8px;
    font-weight: 500;
    font-size: var(--font-size-button);
}

.header_buttons button{
    margin-right: 18px;
    width: var(--size-button-w);
    height: var(--size-button-h);
    border-radius: 8px;
    font-weight: 500;
    font-size: var(--font-size-button);
}

.header_button_login{
    background-color: white;
    box-sizing: border-box;
    color: #FB8F1D;
    border: 1px solid #FB8F1D;
}

.header_button_register{
    background: #FB8F1D;
    color: #FFFFFF;
}

.header_circle div{
    border-radius: 50%;
}

.header_circle_big{
    margin-left: 10px;
    width: 0.640625rem;
    height: 0.640625rem;
    background: #1ABE84;
    padding-top: 0;
    display:flex;
    align-items: center;
}

.header_circle_small {
    border: 0.046875rem solid #FFFFFF;
    width: var(--font-size-button);
    height: var(--font-size-button);
    background: #FB8F1D;
    margin-left: 0.15625rem;
}


@media screen and (min-width:1234px) {
    .header{
        width: 1233px;
        margin: 0 auto;
    }
}

@media screen and (max-width:783px){
    .header_button_register{
        background: #FB8F1D;
        color: #FFFFFF;
    }
    .header_button_register:hover {
        background-color: white;
        box-sizing: border-box;
        color: #FB8F1D;
        border: 1px solid #FB8F1D;
        content: '';
        z-index: -1;
        transition: all 0.4s;
    }
    .header_menu {
        display: block;
    }
    .header_ham_menu{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);;
        width: 100%;
        left: 0;
        position: fixed;
        display: block;
        top: 72px;
        background-color: white;
        clip-path: circle(0 at top right);
        transition: clip-path 0.9s ease-in;
    }
    .header_ham_menu.open {
        clip-path: circle(1000px at top);
    } 
    .header_nav li{
        font-size: var(--font-size-sel);
        padding-bottom: 10px;
        width: fit-content;
        margin: 0 auto;
    }
    .header_buttons > .header_button_login{
        display: none;
    }
    .header_buttons{
        align-items: center;
        display: flex;
        margin-top: 0;
    }
    .header_nav ul, .header_button_login{
        display: block;
        margin: 10px auto;
    }
    .header_buttons_for_menu{
        display: block;
    }
}

.header_button_register{
    background: #FB8F1D;
    color: #FFFFFF;
}